.products-page {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-header {
  text-align: center;
  margin-bottom: 30px;
}

.products-header h1 {
  color: #1c1c1e;
}

.products-header p {
  color: #2c2c2e;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background-color: #2c2c2e;
  color: #ffffff;
  margin: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
}

.wishlist-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: #fd7e14;
  cursor: pointer;
  transition: color 0.3s ease;
}

.wishlist-icon:hover {
  color: #ffffff; /* Change color on hover */
}

.product-card img {
  max-width: 100%;
  height: 150px; /* Fixed height */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}
.product-card img:hover {
  border: 2px solid #fd7e14;
}

.product-info {
  padding: 10px;
  text-align: center; 
}
.product-info h3{
  font-size:1.2rem;
}

.add-to-cart {
  background-color: #fd7e14;
  color: #ffffff;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}
.add-to-cart:hover{
  background-color: #ffffff;
  color: #fd7e14;
  border: 1px solid #fd7e14;
}
.add-to-cart[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
  border: 1px solid #ccc;
}

